<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.gojek.app" />
        <package android:name="ngi.transjogja.apppublic" />
        <package android:name="com.grabtaxi.passenger" />
        <package android:name="com.taxsee.taxsee" />
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wayfind"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WayFind"
        tools:targetApi="31">
        <activity
            android:name=".RuteMotor"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".NoWifiActivity"
            android:exported="false" />
        <activity
            android:name=".RuteMobil"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MaximBike"
            android:exported="false" />
        <activity
            android:name=".GrabBike"
            android:exported="false" />
        <activity
            android:name=".GoRide"
            android:exported="false" />
        <activity
            android:name=".MaximCar"
            android:exported="false" />
        <activity
            android:name=".GrabCar"
            android:exported="false" />
        <activity
            android:name=".GoCar"
            android:exported="false" />
        <activity
            android:name=".BusHarga"
            android:exported="false" />
        <activity
            android:name=".Motor"
            android:exported="false" />
        <activity
            android:name=".Mobil"
            android:exported="false" />
        <activity
            android:name=".Bus"
            android:exported="false" />
        <activity
            android:name=".PilihKendaraan"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>